.table-available {
  height: 15px;
  width: 15px;
  background-color: #4abb76;
  border-radius: 50%;
  display: inline-block;
}

.table-booked {
  height: 15px;
  width: 15px;
  background-color: #bb1c5d;
  border-radius: 50%;
  display: inline-block;
}

.active-table-filter {
  font-size: 30px;

}
